In [28]:
import numpy as np
import pandas as pd 
import string
import spacy
import warnings
warnings.filterwarnings('ignore')
import re

import nltk
#nltk.download('punkt')
#nltk.download('wordnet')

from nltk.corpus import stopwords

#Stemming
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

#Lemmetization
from nltk.stem import WordNetLemmatizer
lemmetizer = WordNetLemmatizer()

In [29]:
unwanted_words = ['Email','Sample','Letter','Template','email','sample','letter','template','to','To']

punctuations = '''()-[]{};:'"\,<>./?@#$%^&*_`~'''

In [3]:
g_text = input('Search Email Templates:\n\n')

Search Email Templates:

Sick Leave Email to Boss

In [30]:
text=''
text = re.sub(r'[^\w\s]','',g_text)
text

'Sick Leave Email to Boss'

In [31]:
text=''
for char in g_text:
    if (char not in punctuations):
        text = text+char
text

'Sick Leave Email to Boss'

In [32]:
text = text.strip()
text

'Sick Leave Email to Boss'

In [33]:
text_a = nltk.word_tokenize(text)
text_a

['Sick', 'Leave', 'Email', 'to', 'Boss']

In [34]:
stop_words = stopwords.words('english')

In [35]:
text_s=[]
for word in text_a:
    if (word not in stop_words):
        text_s.append(word)
        
text_s

['Sick', 'Leave', 'Email', 'Boss']

In [36]:
text_l = []
for word in text_s:
#    print(lemmetizer.lemmatize(word))
    text_l.append(lemmetizer.lemmatize(word))
text_l

['Sick', 'Leave', 'Email', 'Boss']

In [37]:
text_f = []
for word in text_l:
    if word not in unwanted_words:
        text_f.append(word)
    else:
        pass
text_f

['Sick', 'Leave', 'Boss']

In [42]:
data = pd.read_excel('templates.xls')
data = data.dropna()
data = data.reset_index(drop=True)
for i in range (0,len(data)):
    data.iloc[i,0] = data.iloc[i,0].replace('Letter','Email')
    data.iloc[i,0] = data.iloc[i,0].replace('letter','Email')
    data.iloc[i,1] = data.iloc[i,1].replace('Letter','Email')
    data.iloc[i,1] = data.iloc[i,1].replace('letter','Email')
    data.iloc[i,0] = data.iloc[i,0].replace('-',' ')
data['Search_column'] = ''
data = data[["Category","Search_column", "Title", "Body"]]
data.head()

,Category,Search_column,Title,Body
0,Acceptance Emails,,Elementary School Admission Email,"From,\nMrs Cruz,\nE-2, Bakers Street,\nLondon\..."
1,Acceptance Emails,,Academy Admission Email,"From,\nMs Electra,\n13B, Whistling Towers,\nAr..."
2,Acceptance Emails,,College Admissions Recommendation Email,"From,\nMr Warden,\nPrincipal,\nSt. Louis Degre..."
3,Acceptance Emails,,Decline Admission Email,"From,\nMr Richardson,\nPrincipal,\nImperial Co..."
4,Acceptance Emails,,Harvard Acceptance Email,"From,\nMr Williamson,\nSports Goods and Equipm..."

In [44]:
print(data.iloc[0,3])

From,
Mrs Cruz,
E-2, Bakers Street,
London
To,
Ms Jane,
Super Kids Elementary School,
London
Dear Ms Jane,
I, Mrs Cruz, am writing this letter as an application for the admission of my daughter, Tiara, in your elementary school. Tiara has completed 2 years of age in the last month and I wish that she gets started with her education life. The city is abuzz with the excellent elementary teaching which your school provides and hence, I am applying for the admission of my daughter; so that she gets the right kind of start to her educating life.
I would like to take this opportunity to make you aware of the fact that Tiara is a bright child and she apprehends meanings of several things swiftly. She has a creative side as well. And I am hopeful that your school would help me to explore her creative talent. I am expecting a favourable and quick response from your side. Submitting my child’s talent and future in safe and responsible hands,
Yours sincerely,
Mrs Cruz
Download Elementary School Admission Letter In Word Format


Related Sample Letters:
School Admission Letter
School Admission Cover Letter
Graduate School Admission Letter
Sample Law School Acceptance Letter
Sample Law School Acceptance Letter

In [45]:
#Removing Download Samples from Body
for i in range (0,len(data)):
    txt = data.iloc[i,3]
    txt0 = txt.split('\nDownload ')[0]
    data.iloc[i,3] = txt0

In [46]:
print(data.iloc[0,3])

From,
Mrs Cruz,
E-2, Bakers Street,
London
To,
Ms Jane,
Super Kids Elementary School,
London
Dear Ms Jane,
I, Mrs Cruz, am writing this letter as an application for the admission of my daughter, Tiara, in your elementary school. Tiara has completed 2 years of age in the last month and I wish that she gets started with her education life. The city is abuzz with the excellent elementary teaching which your school provides and hence, I am applying for the admission of my daughter; so that she gets the right kind of start to her educating life.
I would like to take this opportunity to make you aware of the fact that Tiara is a bright child and she apprehends meanings of several things swiftly. She has a creative side as well. And I am hopeful that your school would help me to explore her creative talent. I am expecting a favourable and quick response from your side. Submitting my child’s talent and future in safe and responsible hands,
Yours sincerely,
Mrs Cruz

In [47]:
#preprocessing the title column
for i in range (0,len(data)):
    tex = str(data.Title[i])
    tex_p = ''
    for char in tex:
        if (char not in punctuations):
            tex_p = tex_p+char
    #tex_p = re.sub(r'[^\w\s]','',tex)
    tex_p = tex_p.strip()
    tex_a = nltk.word_tokenize(tex_p)
    tex_s=[]
    for word in tex_a:
        if (word not in stop_words):
            tex_s.append(word)
    tex_l = []
    for word in tex_s:
        tex_l.append(lemmetizer.lemmatize(word))
    tex_f = []
    for word in tex_l:
        if word not in unwanted_words:
            tex_f.append(word)
        else:
            pass
    data.iloc[i,1] = tex_f
data.head()

,Category,Search_column,Title,Body
0,Acceptance Emails,"[Elementary, School, Admission]",Elementary School Admission Email,"From,\nMrs Cruz,\nE-2, Bakers Street,\nLondon\..."
1,Acceptance Emails,"[Academy, Admission]",Academy Admission Email,"From,\nMs Electra,\n13B, Whistling Towers,\nAr..."
2,Acceptance Emails,"[College, Admissions, Recommendation]",College Admissions Recommendation Email,"From,\nMr Warden,\nPrincipal,\nSt. Louis Degre..."
3,Acceptance Emails,"[Decline, Admission]",Decline Admission Email,"From,\nMr Richardson,\nPrincipal,\nImperial Co..."
4,Acceptance Emails,"[Harvard, Acceptance]",Harvard Acceptance Email,"From,\nMr Williamson,\nSports Goods and Equipm..."

In [48]:
#Searching for keywords in the search column
result_in = []
for word in text_f:
    for i in range (0,len(data)):
        for j in range (0,len(data.iloc[i,1])):
            if data.iloc[i,1][j] not in text_f:
                pass
            else:
                result_in.append(int(i))
result_in.sort(reverse=False)
result_in

[129,
 129,
 129,
 162,
 162,
 162,
 257,
 257,
 257,
 431,
 431,
 431,
 463,
 463,
 463,
 978,
 978,
 978,
 979,
 979,
 979,
 980,
 980,
 980,
 981,
 981,
 981,
 982,
 982,
 982,
 983,
 983,
 983,
 984,
 984,
 984,
 985,
 985,
 985,
 986,
 986,
 986,
 987,
 987,
 987,
 987,
 987,
 987,
 989,
 989,
 989,
 990,
 990,
 990,
 991,
 991,
 991,
 995,
 995,
 995,
 997,
 997,
 997,
 998,
 998,
 998,
 999,
 999,
 999,
 1000,
 1000,
 1000,
 1001,
 1001,
 1001,
 1003,
 1003,
 1003,
 1004,
 1004,
 1004,
 1203,
 1203,
 1203,
 1225,
 1225,
 1225,
 1265,
 1265,
 1265,
 1486,
 1486,
 1486,
 1493,
 1493,
 1493]

In [49]:
x = data.iloc[result_in]
x['priority'] = np.NaN
x.head()

,Category,Search_column,Title,Body,priority
129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",NaN
129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",NaN
129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",NaN
162,Appreciation Emails,"[Appreciation, Boss]",Appreciation Email to Boss,Mr. A. Sekhar\nChief-of-Accounts\nRose Waters ...,NaN
162,Appreciation Emails,"[Appreciation, Boss]",Appreciation Email to Boss,Mr. A. Sekhar\nChief-of-Accounts\nRose Waters ...,NaN

In [50]:
p = x.index.value_counts()
p

987     6
1493    3
984     3
162     3
257     3
431     3
1203    3
1225    3
1486    3
463     3
978     3
979     3
980     3
981     3
982     3
983     3
985     3
1265    3
986     3
989     3
990     3
991     3
995     3
997     3
998     3
999     3
1000    3
1001    3
1003    3
1004    3
129     3
dtype: int64

In [51]:
x = x.reset_index()
p = p.reset_index()
p = p.rename(columns={0:'priority'},inplace=False)

In [54]:
x.head()

,index,Category,Search_column,Title,Body,priority
0,129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",NaN
1,129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",NaN
2,129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",NaN
3,162,Appreciation Emails,"[Appreciation, Boss]",Appreciation Email to Boss,Mr. A. Sekhar\nChief-of-Accounts\nRose Waters ...,NaN
4,162,Appreciation Emails,"[Appreciation, Boss]",Appreciation Email to Boss,Mr. A. Sekhar\nChief-of-Accounts\nRose Waters ...,NaN

In [55]:
p.head()

   index  priority
0    987         6
1   1493         3
2    984         3
3    162         3
4    257         3

In [56]:
for i in range(0,len(x)):
    ind = x['index'][i] 
    for j in range(0,len(p)):
        if p['index'][j] == ind:
            pr = p['priority'][j]
        else:
            pass
    x['priority'][i] = pr
x.head()

,index,Category,Search_column,Title,Body,priority
0,129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",3.0
1,129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",3.0
2,129,Application Emails,"[Marriage, Leave, Application]",Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo...",3.0
3,162,Appreciation Emails,"[Appreciation, Boss]",Appreciation Email to Boss,Mr. A. Sekhar\nChief-of-Accounts\nRose Waters ...,3.0
4,162,Appreciation Emails,"[Appreciation, Boss]",Appreciation Email to Boss,Mr. A. Sekhar\nChief-of-Accounts\nRose Waters ...,3.0

In [57]:
x = x.sort_values(by=['priority'],ascending=False)
x = x.drop_duplicates(subset=['index'])
x = x.drop(['index','Search_column','priority'],axis=1)
x = x.reset_index(drop=True)
x.head()

,Category,Title,Body
0,Leave Emails,Leave Email To Boss,"5th August 2010,\nMr. James,\nAMN Company Inc,..."
1,Application Emails,Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo..."
2,Leave Emails,Maternity Leave Email,"To,\nMichael Houston,\nHR Manager,\nGothic Ent..."
3,Leave Emails,Marriage Leave Application,"To\nMrs. Lisa Hall,\nManager,\nImedia Technolo..."
4,Leave Emails,Sample Leave Email,"To:\nRebecca White,\n49 Richmond Street,\nLond..."

In [58]:
print(x.Body[0])

5th August 2010,
Mr. James,
AMN Company Inc,
Srinagar,
Hyderabad.
Dear Boss,
As I have discussed with you in the past that I am having an issue with my family. My mother is ill and I will need to go home and take care of her. Therefore I am formally asking for a leave of absence, starting on Aug 5th.
I am hoping to be back at work on Aug 13th .If there is any delay of any sort, I will let you know. If there is any way I can do any work remotely during that time, please let me know as I don’t want to neglect  my duties and still wish to help the company as much as I can. My  family and I are all hoping for my mother to have a speed and full  recovery, and we all greatly appreciate your support during this  difficult time.

Yours Sincerely,

David Banes.

In [60]:
x.Body[0]

'5th August 2010,\nMr. James,\nAMN Company Inc,\nSrinagar,\nHyderabad.\nDear Boss,\nAs I have discussed with you in the past that I am having an issue with my family. My mother is ill and I will need to go home and take care of her. Therefore I am formally asking for a leave of absence, starting on Aug 5th.\nI am hoping to be back at work on Aug 13th .If there is any delay of any sort, I will let you know. If there is any way I can do any work remotely during that time, please let me know as I don’t want to neglect  my duties and still wish to help the company as much as I can. My  family and I are all hoping for my mother to have a speed and full  recovery, and we all greatly appreciate your support during this  difficult time.\n\xa0\nYours Sincerely,\n\xa0\nDavid Banes.'